* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.first-section {
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: block;
    background: url(assets/img/main-bg.jpg);
    margin: 0 auto;
    overflow: hidden;
}

header {
    border: 1px solid red;
    display: flex;
    width: 100%;
    height: 10vh;
}

ul {
    border: 1px solid red;
    padding: 10px;
}

li {
    display: inline-block;
    border: 1px solid blue;
    margin: 5px;
    width: 100px;
    height: 30px;
    vertical-align: top;
}

.hero-section {
    border: 2px solid red;
    width: 100%;
    height: 90vh;
    display: grid;
    justify-content: center;
    margin: 0 auto;
}

button {
    width: 105px;
    height: 50px;
}

.second-section {
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.third-section {
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.fourth-section {
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}